$heading-font: "";
$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$margin-5: 3rem;

$main-color: rgb(250, 245, 245);
$secondary-color: rgb(134, 134, 134);
$tertiary-color: rgb(86, 158, 253);
$body-color: rgb(12, 12, 12);

* {
    box-sizing: border-box;
  }
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
h1 {
    margin-bottom: 0;
}
body {
    margin: 0;
}
header {
    margin-bottom: 2em;
}
img {
    max-width: 100%;
}
.btn {
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}
.imgs {
    padding: 0.15rem;
}
img {
    border-radius: 1px;
}
main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 1em;
}
.flex_pro {
    display: flex;
    gap: 1em;
}
.border_bot {
    border-bottom: 1px solid $secondary-color;
}
div {
    margin: 0.5em;
    padding-bottom: 1em;
}