$heading-font: "";
$margin-0: 0;
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$margin-5: 3rem;

$main-color: rgb(250, 245, 245);
$secondary-color: rgb(134, 134, 134);
$tertiary-color: rgb(86, 158, 253);
$body-color: rgb(12, 12, 12);

* {
    box-sizing: border-box;
  }
  
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
h1 {
    margin-bottom: 0;
}
body {
    margin: 0;
}
.navbar {
    margin-bottom: 1em;
}
.navbar-nav {
  justify-content: space-around;
  gap: 1em;
  align-items: center;
}  
img {
    max-width: 100%;
}
.btn {
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}
.bi {
    color: $secondary-color;
}
.container {
    padding: 0 ;
}
.row {
    padding: 0 0.8em;
}
.imgs {
    padding: 0.15rem;
}
.card-img {
    border-radius: 1px;
}
.carousel-control-prev {
    justify-content: flex-start;
}
.carousel-control-next {
    justify-content: flex-end;
}
.flex_men {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 1em;
}
footer {
   max-width: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.link {
    text-decoration: none;
    color: $secondary-color;
    :hover {
        color: $main-color;
    }
}
footer svg {
    width: 25px;
    height: 25px;
    margin: 0.5em;
}
footer button {
    margin: 1.5em;
}
.flex_fot {
    display: inline;
}